code/06-node-red/flow-temperature-battery.json
[{"id":"a5bd701b.d432a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2bf6f4d8.b6525c","type":"mqtt in","z":"a5bd701b.d432a","name":"","topic":"+/devices/sodaq-temperature-sensor/up","qos":"2","datatype":"json","broker":"64f29cd5.966844","x":310,"y":180,"wires":[["a1b20336.8da99","235de5cb.d6cf9a","d5ac18df.2b9768"]]},{"id":"a1b20336.8da99","type":"debug","z":"a5bd701b.d432a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":180,"wires":[]},{"id":"235de5cb.d6cf9a","type":"function","z":"a5bd701b.d432a","name":"Filter temperatuur","func":"msg.payload = msg.payload.payload_fields.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":240,"wires":[["d8b599a1.4a0c48"]]},{"id":"d8b599a1.4a0c48","type":"debug","z":"a5bd701b.d432a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":240,"wires":[]},{"id":"d5ac18df.2b9768","type":"function","z":"a5bd701b.d432a","name":"Filter batterij","func":"msg.payload = msg.payload.payload_fields.battery;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":300,"wires":[["be3eb1c.0c9905"]]},{"id":"be3eb1c.0c9905","type":"debug","z":"a5bd701b.d432a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":300,"wires":[]},{"id":"64f29cd5.966844","type":"mqtt-broker","z":"","name":"TTN-vehicle-battery-monitor","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]